.company-block {
	padding-top: 20px;
}


.company-sostav {
	position: relative;
}

.company-sostav-example {
	width: 345px;
	height: 375px;
	border: 1px solid rgba(182,0,23,1);
	display: inline-block;
	vertical-align: top;
	margin-right: 28px;
	margin-bottom: 28px;
	padding: 10px;
	opacity: 0.65;
	transition: 0.1s;
}

.company-sostav-example:hover {
	opacity: 1;
}

.company-sostav-example:nth-child(3), .company-sostav-example:nth-child(6) {
	margin-right: 0;
}

.company-sostav-example ul {
	list-style: none;
	padding: 0;
	text-align: left;
	font-size: 14px;
}

.company-sostav-example ul li::before {
	content: '- ';
	font-weight: bold;
	font-size: 20px;
	color: rgba(182,0,23,1);
}

.company-sostav-example h3, .company-sostav-example i {
	margin: 0;
	color: rgba(182,0,23,1);
} {
	margin: 0;
	color: rgba(182,0,23,1);
}

.company-sostav-example span {
	font-style: italic;
	color: #333;
}

.company-sostav-example img {
	display: block;
	margin: 0 auto;
	width: 100px;
}
