* { box-sizing: border-box; }

h1 {
	text-transform: uppercase;
	color: #fff;
	width: 100%;
	background: rgba(0,0,0,0.4);

	background-size: cover;
	overflow: hidden;
	height: 400px;
	text-align: center;
	padding-top: 150px;
	font-size: 40px;
	margin: 0;
	position: relative;

}

h1::after {
	content: '';
	background: url(../img/2.jpg);
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
}


h2 {
	font-size: 40px;
	margin-top: 0;
	color: #000;
	margin-bottom: 20px;
	position: relative;
	font-family: 'Merriweather', serif;
	padding-left: 30px;
}

h2::after {
	content: '';
	position: absolute;
	left: 0;
	top: 8px;
	width: 10px;
	height: 32px;
	background-color: #b60017;
}

h3 {
	font-size: 20px;
	margin-top: 0;
	text-align: left;
	color: #000;
	font-weight: normal;
}

body {
	font-family: 'Roboto', 'Arial', sans-serif;
	background: #fff;
	margin: 0;
	padding-top: 25px;
		color: #333;
	}

header {

}

header .container {
	text-align: left;
}

.container {
	width: 1100px;
	margin: 0 auto;
	position: relative;
}	

/*Универсальный clearfix*/
.container::after {
	content: '';
	display: block;
	clear: both;
}

.logo img{
	width: 175px;
}

.logo {
	display: inline-block;
	float: left;
}

.menu {

/*	position: relative;
	top: 35px;*/
	margin-top: 20px;
	background-color: #333;
	width: 1100px;
	z-index: 100;
}

.language {
	float: right;
	padding-right: 5px;
}

.lang {
	font-weight: bold;
	background: transparent;
	border: 1px solid #b60017;	
	font-size: 12px;
	color: #b60017;
	padding: 5px;
	text-decoration: none; 
}

.language > ul > li {
	display: inline-block;
	list-style: none;
	margin-right: -5px;
	text-transform: uppercase;
	position: relative;
	padding-top: 5px; 
}

.menu > ul {
	margin: 0;
	padding: 0;
}

.menu > ul > li {
	display: inline-block;
	list-style: none;
	position: relative;

}

.menu > ul > li > a {
	padding: 20px;
	display: block;
}

.menu li, .language li {
	list-style: none;
}


.menu > ul > li > ul {
	position: absolute;
	background: #fff;
	color: #b60017;	
	font-size: 14px;
	width: 370px;
	text-align: left;
	padding: 0;
	top: 100%;
	left: 0%;
	visibility: hidden;
	border-top: 3px solid #b60017;
	margin: 0;
	z-index: 10;
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
	transform: translateY(-20px);
	border-left: 1px solid #b60017; 
	border-right: 1px solid #b60017; 
	border-bottom: 1px solid #b60017; 
}

main {
	position: relative;
}


.menu > ul > li > ul > li > ul {
	display: none;
	background: #fff;
	color: #333;	
	width: 250px;
	text-align: left;
	padding: 0;
	position: relative;
	border-top: 3px solid #b60017;
	border-left: 1px solid #b60017; 
	border-right: 1px solid #b60017; 
	border-bottom: 1px solid #b60017; 
	margin: 0;
}

.menu > ul > li:hover {
	background-color: #b60017; 
}


.menu > ul > li > ul > li, .menu > ul > li > ul > li > ul > li {
	font-weight: normal;
	margin: 0;
	border: 0;
	padding: 10px 10px 10px 20px;
}

.menu > ul > li > ul > li > a, .menu > ul > li > ul > li > ul > li > a {
	padding-left: 0px;
	transition: 0.3s;
	color: #333;
}

.menu > ul > li > ul > li:hover > a, .menu > ul > li > ul > li > ul > li:hover > a {
	padding-left: 20px;
}

.menu > ul > li > ul > li:hover, .menu > ul > li > ul > li > ul > li:hover {
	background-color: rgba(182, 0, 23, 0.3);
}
.menu > ul > li:hover > ul {	
	visibility: visible;
	opacity: 1;
	transform: translateY(-5px);

}

.menu > ul > li > ul > li:hover > ul {
	display: block;
	position: absolute;
	top: -3px;
	left: 100%;
}

.menu a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.menu {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	z-index: 5;
}

.company {
	
}

.description h2  {
	width: 320px;
	float: left;
}

.description .opisanie  {
	width: 730px;
	font-size: 17px;
	text-align: justify;
	float: right;

}

.services-example {
	padding-top: 28px;
}

.example {
	width: 345px;
	height: 200px;
	display: inline-block;
	background-color: #fff;
	transition: 0.3s;
	overflow: hidden;
	position: relative;
	margin-right: 28px;
	margin-bottom: 28px;
}

.example:nth-child(3), .example:nth-child(6) {
	margin-right: 0;
}

.example img {
	width: 100%;
	transition: 0.3s;
	filter: grayscale(0);
}


.example:hover img{
	transform: scale(1.05);
}	

.example:hover {
	cursor: pointer;
}

.example-name {
	color: #fff;
	position: absolute;
	font-size: 15px;
	left: 0;
	right: 0;
	bottom: 0;
	padding:5px;
	background-color: rgba(182,0,23,0.75);
}

.work-example {
	margin: 0 auto;
}

.work-example img{
	width: 100%;	
	height: 230px;	
}

.work-box {
	position: relative;	
	width: 25%;	
	height: 230px;	
	margin-right: -5px;
	margin-bottom: -5px;
	padding-right: 5px;	
	display: inline-block;
}
.work-box:nth-child(4), .work-box:nth-child(8) {
	padding-right: 0;
	margin-right: 0;
}
/*
.work-box:hover::after {
	content: '';
	position: absolute
	;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(182,0,23,0.45);
}
*/
.zoom {
	opacity: 0;
}

/*.work-box:hover .zoom {
	font-size: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	opacity: 1;
}
*/
.partners {
	padding: 40px;
	margin: 0 auto;
	text-align: center;
}

.partners img {
	width: 15%;
	filter: grayscale(1);
	transition: 0.2s;
	padding: 10px;
}

.partners img:hover {
	filter: grayscale(0);
}

.btn {
	text-align: center;
	margin: 50px; 
}

.btn a{
	text-decoration: none;
	color: #b60017;
	background-color: #fff;
	padding: 10px 20px;
	text-transform: uppercase;
	border: 1px solid #b60017;
	transition: 0.1s;

}

.btn a:hover{
	text-decoration: none;
	color: #fff;
	background-color: #b60017;

}

footer {
	background-color: #fff;
	padding: 5px;
}

footer .adress {
	width: 300px;
	text-align: right;
	color: #333;
	float: right;
}

.adress p {
	margin: 0;
	float: right;
	padding-top: 20px;
	padding-bottom: 10px;
}

footer .container {
	text-align: left;
	border-top: 5px solid #b60017;
}


footer .container .footer-menu > ul {
	display: block;
	padding: 0;
	width: 700px;
	margin: 0;
}

 .footer-menu {
 	width: 700px;
 	float: left;
 }

footer .container  .footer-menu > ul > li {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	text-decoration: none;
	padding-top: 20px;
	width: 15%;
	text-align: left;
}

footer .container .footer-menu > ul > li:nth-child(3) {
	margin-right: 20px;
	margin-left: 20px;
}

footer .container .footer-menu >ul > li > a{
	text-decoration: none;
	color: #333;

}

footer .container .footer-menu > ul > li > a:hover {
	font-weight: bold;
} 

.copyright {
	opacity: 0.9;
	font-size: 15px;
	padding-top: 30px;
	text-align: left;
	color: #333;
	width: 700px;
	float: left;
}
